<div>
    <h2 id="page-heading">
        <span>Dipendentes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-dipendente" [routerLink]="['/dipendente/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Dipendente
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="dipendentes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nome"><span>Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cognome"><span>Cognome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataNascita"><span>Data Nascita</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="indirizzo"><span>Indirizzo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numeroTelefono"><span>Numero Telefono</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="email"><span>Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nazionalita"><span>Nazionalita</span><fa-icon [icon]="'sort'"></fa-icon></th>
            <th><span>Skill</span></th>
            
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dipendente of dipendentes ;trackBy: trackId">
                <td><a [routerLink]="['/dipendente', dipendente.id, 'view' ]">{{dipendente.id}}</a></td>
                <td>{{dipendente.nome}}</td>
                <td>{{dipendente.cognome}}</td>
                <td>{{dipendente.dataNascita | date:'mediumDate'}}</td>
                <td>{{dipendente.indirizzo}}</td>
                <td>{{dipendente.numeroTelefono}}</td>
                <td>{{dipendente.email}}</td>
                <td>{{dipendente.nazionalita}}</td>
                <td *ngFor="let skill of dipendente.skills">
                        <a [routerLink]="['/skill', dipendente?.id, 'view' ]"><span>{{skill.nome}}</span></a>{{last ? '' : ', '}}
                </td>
                
               
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/dipendente', dipendente.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/dipendente', dipendente.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'dipendente', { outlets: { popup: dipendente.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="dipendentes && dipendentes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
