<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dipendente">
            <h2><span>Dipendente</span> {{dipendente.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nome</span></dt>
                <dd>
                    <span>{{dipendente.nome}}</span>
                </dd>
                <dt><span>Cognome</span></dt>
                <dd>
                    <span>{{dipendente.cognome}}</span>
                </dd>
                <dt><span>Data Nascita</span></dt>
                <dd>
                    <span>{{dipendente.dataNascita}}</span>
                </dd>
                <dt><span>Indirizzo</span></dt>
                <dd>
                    <span>{{dipendente.indirizzo}}</span>
                </dd>
                <dt><span>Numero Telefono</span></dt>
                <dd>
                    <span>{{dipendente.numeroTelefono}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{dipendente.email}}</span>
                </dd>
                <dt><span>Nazionalita</span></dt>
                <dd>
                    <span>{{dipendente.nazionalita}}</span>
                </dd>
                <dt><span>Skill</span></dt>
                <dd>
                    <span *ngFor="let skill of dipendente.skills; let last = last">
                        <a [routerLink]="['/skill', skill?.id, 'view' ]">{{skill.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/dipendente', dipendente.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
