<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-dipendente-heading">Create or edit a Dipendente</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!dipendente.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                           formControlName="nome"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cognome">Cognome</label>
                    <input type="text" class="form-control" name="cognome" id="field_cognome"
                           formControlName="cognome"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dataNascita">Data Nascita</label>
                    <div class="input-group">
                        <input id="field_dataNascita" type="text" class="form-control" name="dataNascita" ngbDatepicker  #dataNascitaDp="ngbDatepicker" formControlName="dataNascita"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataNascitaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_indirizzo">Indirizzo</label>
                    <input type="text" class="form-control" name="indirizzo" id="field_indirizzo"
                           formControlName="indirizzo"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_numeroTelefono">Numero Telefono</label>
                    <input type="text" class="form-control" name="numeroTelefono" id="field_numeroTelefono"
                           formControlName="numeroTelefono"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nazionalita">Nazionalita</label>
                    <input type="text" class="form-control" name="nazionalita" id="field_nazionalita"
                           formControlName="nazionalita"/>
                    <div *ngIf="editForm.get('nazionalita').invalid && (editForm.get('nazionalita').dirty || editForm.get('nazionalita').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nazionalita').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nazionalita').errors.maxlength">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="field_skills">Skill</label>
                    <select class="form-control" id="field_skills" multiple name="skills" formControlName="skills">
                        <option [ngValue]="getSelected(editForm.get('skills').value, skillOption)" *ngFor="let skillOption of skills; trackBy: trackSkillById">{{skillOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
